version: "3.9"

services:
  mlflow:
    image: ghcr.io/mlflow/mlflow:v2.22.0
    container_name: atelierts-mlflow
    restart: unless-stopped

    ports:
      - "5000:5000"

    volumes:
      - ./mlflow:/mlflow

    command: >
      mlflow server
      --host 0.0.0.0
      --port 5000
      --backend-store-uri sqlite:///mlflow/mlflow.db
      --default-artifact-root file:///home/isen/atelierTS/mlflow/artifacts

  timescaledb:
    image: timescale/timescaledb:latest-pg17
    container_name: atelierts-timescaledb
    restart: unless-stopped
    env_file:
      - .env
    ports:
      - "5432:5432"
    volumes:
      - ./data/init.sql:/docker-entrypoint-initdb.d/init.sql
      - ./data/postgresql:/var/lib/postgresql/data

  api:
    build: .
    container_name: atelierts-api
    restart: unless-stopped
    depends_on:
      - timescaledb
    env_file:
      - .env
    ports:
      - "8000:8000"
    volumes:
      - ./mlruns:/app/mlruns